.article {
  width: 100%;
  border: 1px solid coral;
  border-radius: 20px;
  padding: 0 10px 15px;
  margin-bottom: 10px;
  box-shadow: 6px 5px 15px -5px rgba(0, 0, 0, 0.22);
}

.article__header {
  font-size: 22px;
}

.article__paragraph {
  font-size: 15px;
}

.article__paragraph--highlighted {
  color: coral;
}
