.navigation {
  list-style: none;
}

.navigation__list {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navigation__listItem {
  text-decoration: none;
  font-weight: bold;
}

.navigation__link {
  text-decoration: none;
  color: inherit;
}

.navigation__link:visited {
  color: rgb(119, 118, 118);
}

.navigation__link:focus {
  outline: 1px solid coral;
}

.navigation__link:hover {
  border-bottom: 1px solid coral;
  outline: none;
}

.navigation__link:active {
  color: coral;
}
