.table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
}

.table__cell {
  border: 1px solid coral;
  padding: 10px;
  text-align: center;
}

.table__cell--header {
  border: 1px solid coral;
  padding: 10px;
  text-align: center;
  background-color: rgb(247, 246, 246);
  font-weight: normal;
}

.table__cell:hover {
  background-color: rgba(255, 127, 80, 0.092);
}
